@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
  font-family: 'Quicksand';
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Loading */
.load{
  text-align: center;
  padding: 20px;
  margin: 100px auto;

}

/* Button */
button {
  padding: 10px;
  margin: 10px;
  background-color:#61dafb;
  color: #fff;
  border:1px solid transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

button:hover{
  color: #61dafb;
  background-color: #fff;
  border: 1px solid #333;
}

/*Avatar*/
.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

/*App*/
.app {  
  margin: 0;
  overflow: hidden;
}

/* navbar */
.navbar{
  padding: 20px;;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #f2f2f2;
}
.navbar h1{
  color : #61dafb;
}
.navbar .links{
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #fff;
  background-color: #61dafb;
  border-radius: 8px;
  outline: none;
}
.navbar a:hover{
  background-color: #fff;
  color : #61dafb;
  border: 1px solid #333;
}

/*App*/
.content {
  max-width: 1200px;
  margin : 0px auto;
}

.home h2{
  color: #2c3e50
}

/* Login Page */
.login {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: 3px solid #61dafb;
  border-radius: 20px;
  max-width: 400px;
  height: 200px;
}

.login button {
  border-radius: 10px;
  margin: 10px;
}

li {
  list-style: none;
}

/*Create Page*/
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}

.create h2{
  color: #2c3e50;
}
.create input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

span {
  margin: 1px;
  padding: 2px;
}

/* Poll */
.poll {
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    border: 3px solid #61dafb;
    border-radius: 20px;
    max-width: 400px;
  
}

.center {
  text-align: center;
}

label {
  margin: 5px;
}